*{
    margin: 0px;
    padding: 0px;
}
.App
{
    background-color: rgb(95, 160, 109);
    height: 100vh;
}
.form{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
input,textarea,select{
    display: block;
    font-style: italic;
    line-height: 5px;
    padding: 6px;
    border-radius: 5px;
}
.add,.remove{
    display: flex;
    justify-content:space-evenly;
    padding: 6px;
    background-color: darkblue;
    color: white;
    border-radius: 4px;
    border: 0px;
    margin-right: 4px;
}


